[submodule "CGraph"]
	path = CGraph
	url = https://github.com/ChunelFeng/CGraph.git
[submodule "3rd-anns/nsg"]
	path = 3rd-anns/nsg
	url = git@github.com:ZJULearning/nsg.git
[submodule "3rd-anns/annoy"]
	path = 3rd-anns/annoy
	url = git@github.com:spotify/annoy.git
[submodule "3rd-anns/hnswlib"]
	path = 3rd-anns/hnswlib
	url = git@github.com:nmslib/hnswlib.git
[submodule "3rd-anns/mrpt"]
	path = 3rd-anns/mrpt
	url = git@github.com:vioshyvo/mrpt.git
[submodule "3rd-anns/kgraph"]
	path = 3rd-anns/kgraph
	url = git@github.com:aaalgo/kgraph.git
